{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <h1>{{ user }}'s Skills</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Level</th>
        <th>Buttons</th>
      <tr>
    </thead>
    <tbody>
    {% for skill in data %}
      <tr>
        <td>
          {{ skill.skill }}
        </td>
        <td>
          {{ skill.level }}
        </td>
        <td>
          <a href="/edit/{{ user }}/{{ skill.id }}" style="color:inherit"><button type="submit" class="btn btn-warning btn-sm">EDIT</button></a>
          <a href="/delete/{{ user }}/{{ skill.id }}" style="color:inherit"><button type="submit" class="btn btn-danger btn-sm">DELETE</button></a>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <form name="addForm" id="addForm" method="POST" action="{{ url_for('addskills') }}" validate>
    <fieldset>
      <legend>Add a skill</legend>
      <div class="form-group row">
        <label for="newSkill" class="col-sm-2 col-form-label">Skill</label>
        <div class="col-sm-10">
  				<input type="text" class="form-control" name="newSkill" id="newSkill" aria-describedby="skill" placeholder="Enter a new skill" type="skill" required>
  				      <small id="meme" class="form-text text-muted">Remember, PHP isn't a real skill.</small>
        </div>
      </div>
      <fieldset class="form-group">
        <legend>Ability Level</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" name="level" id="optionsRadios1" value="Beginner" type="radio" required>
            Beginner
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="level" id="optionsRadios2" value="Intermediate" type="radio">
            Intermediate
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" name="level" id="optionsRadios3" value="Expert" type="radio">
            Expert
          </label>
        </div>
  			<div class="form-check">
  			<label class="form-check-label">
  					<input class="form-check-input" name="level" id="optionsRadios4" value="Creator" type="radio">
  					Creator
  				</label>
  			</div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>
</div>
{% endblock %}
